html {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

.TCPPLO {
  display: block;
  width: fit-content;
  margin: auto;
  margin-top: 2vw;
}

.TCPPLO img {
  width: 5vw;
}

.documentation h1 {
  font-size: 2vw;
  font-weight: 600;
  margin: 0;
  color: #000;
}

.documentation h2 {
  font-size: 1.2vw;
  font-weight: 600;
  color: #4d4d4d;
  margin-top: 3vw;
}

.documentation h3 {
  font-weight: 400;
  font-size: 1vw;
  color: #4d4d4d;
}

.documentation p {
  font-family: "poppins";
  font-size: 1.2vw;
  font-weight: 400;
  color: #4d4d4d;
}

.documentation span {
  font-size: 1vw;
}

.documentation a {
  font-size: 1vw;
  text-decoration: none;
  color: #4d4d4d;
}

.documentation li {
  font-size: 1vw;
  font-weight: 400;
  margin-bottom: 0.2vw;
  color: #4d4d4d;
}

.documentation {
  width: 50vw;
  padding: 5vw;
  border: none;
  background-color: #fdfdfd;
  border-radius: 0.5vw;
  margin: auto;
  margin-top: 3vw;
  margin-bottom: 10vw;
  box-shadow: none;
}

@media (max-width: 767px) {
  .TCPPLO {
  display: block;
  width: fit-content;
  margin: auto;
  margin-top: 5vw;
  }

  .TCPPLO img {
    width: 15vw;
  }

  .documentation h1 {
    font-size: 7vw;
    text-align: left;
  }

  .documentation h2 {
    font-size: 5vw;
    width: fit-content;
    margin-top: 10vw;
    margin-bottom: 5vw;
  }

  .documentation h3 {
    font-size: 4vw;
    width: fit-content;
  }

  .documentation p {
    font-size: 4vw;
    width: fit-content;
  }

  .documentation span {
    font-size: 2vw;
  }

  .documentation a {
    font-size: 4vw;
  }

  .documentation ul {
    padding-left: 4vw;
    width: fit-content;
  }

  .documentation li {
    font-size: 4vw;
    font-weight: 300;
    margin-bottom: 1vw;
    width: fit-content;
  }

  .documentation {
  width: 80vw;
  padding: 5vw;
  border: none;
  background-color: #fdfdfd;
  border-radius: 2vw;
  margin: auto;
  margin-top: 3vw;
  margin-bottom: 10vw;
  box-shadow: none;
}

}